<app-list-view title="Doctor Management" icon="bi-people" [pager]="pager()" [listener]="this">

  <form [formGroup]="form" search class="row">

    <div class="col-auto">
      <app-form-group label="Status">
        <select formControlName="status" class="form-select">
          <option value="">All</option>
          <option value="OnDuty">On Duty</option>
          <option value="Retired">Retired</option>
        </select>
      </app-form-group>
    </div>

    <div class="col-auto">
      <app-form-group label="Department">
        <input formControlName="department" type="text" class="form-control" placeholder="Search Department">
      </app-form-group>
    </div>

    <div class="col-auto">
      <app-form-group label="Name">
        <input formControlName="name" type="text" class="form-control" placeholder="Search Name">
      </app-form-group>
    </div>

    <div class="col btn-wrapper">
      <button (click)="search()" type="button" class="btn btn-primary me-2">
        <i class="bi-search"></i> Search
      </button>
    </div>
  </form>

  <app-doctor-list list [items]="contents()"></app-doctor-list>
</app-list-view>
