<app-page-title icon="bi-building" title="Department Information"></app-page-title>

<div class="row mt-3">
  <div class="col-4">
    <app-department-info [department]="department()"></app-department-info>
  </div>

  <div class="col">

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between align-items-center">
          <span><i class="bi-people-fill"></i> Doctors</span>
          <a [routerLink]="['/member/members/doctors/edit/profile']" [queryParams]="{departmentId : details()?.id}" class="icon-link">
            <i class="bi-plus-lg"></i>
          </a>
        </h5>

        @if (doctors()?.length > 0) {
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <div class="row">
                <div class="col-2">Code</div>
                <div class="col">Name</div>
                <div class="col-5">Degree</div>
                <div class="col">Assign Date</div>
              </div>
            </div>

            @for (item of doctors(); track $index) {
              <div class="list-group-item">
                <div class="row">
                  <div class="col-2">{{item.code}}</div>
                  <div class="col">{{item.name}}</div>
                  <div class="col-5">{{item.degree}}</div>
                  <div class="col">
                    <div class="d-flex justify-content-between">
                      <span>{{item.assignAt}}</span>
                      <a href="#" class="icon-link">
                        <i class="bi-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        } @else {
          <p>There is no doctors in this department.</p>
        }

      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between align-items-center">
          <span><i class="bi-people-fill"></i> Office Staffs</span>
          <a [routerLink]="['/member/members/office-staffs/edit/profile']" [queryParams]="{departmentId : details()?.id}" class="icon-link">
            <i class="bi-plus-lg"></i>
          </a>
        </h5>

        @if (staffs()?.length > 0) {
          <div class="list-group list-group-flush">

            <div class="list-group-item">
              <div class="row">
                <div class="col">Code</div>
                <div class="col">Name</div>
                <div class="col">Position</div>
                <div class="col">Assign Date</div>
              </div>
            </div>

          </div>
        } @else {
          <p>There is no office staff in this department.</p>
        }
      </div>
    </div>

  </div>
</div>
