<div class="row">
  <div class="col-auto">
    <!-- Page Size -->
    <div class="input-group">
      <span class="input-group-text">Page Size</span>
      <select class="form-select">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>

  <div class="col-auto">
    <!-- Top Page -->
    <a href="#" class="btn btn-outline-primary me-2">
      <i class="bi-skip-backward"></i>
    </a>

    <!-- Page List -->
    <a href="#" class="btn btn-outline-primary me-2">
      1
    </a>

    <a href="#" class="btn btn-outline-primary me-2">
      10
    </a>

    <a href="#" class="btn btn-outline-primary me-2">
      20
    </a>

    <!-- Last Page -->
    <a href="#" class="btn btn-outline-primary">
      <i class="bi-skip-forward"></i>
    </a>

  </div>

  <div class="col">
    <div class="row gx-2">
      <!-- Page Count -->
      <div class="col-auto">
        <div class="input-group">
          <span class="input-group-text">Pages</span>
          <span class="form-control">10</span>
        </div>
      </div>

      <!-- Total Count -->
      <div class="col-auto">
        <div class="input-group">
          <span class="input-group-text">Total</span>
          <span class="form-control">98</span>
        </div>
      </div>

    </div>


  </div>

</div>
