<div class="row gx-3">
  <div class="col-auto">
    <!-- Page Size -->
    <div class="input-group">
      <span class="input-group-text">Page Size</span>
      <select #sizeSelect (change)="sizeChange(sizeSelect.value)" class="form-select">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>

  <div class="col-auto">
    @if (showFirst()) {
      <!-- Top Page -->
      <a (click)="pageChange(0)" class="btn btn-outline-primary me-2">
        <i class="bi-skip-backward"></i>
      </a>
    }

    <!-- Page List -->
    @for (item of pager()?.pageList; track $index) {
      <a (click)="pageChange(item)" [class.active]="item == pager()?.page" class="btn btn-outline-primary" [class.me-2]="item < pager()?.pageList?.length! - 1">
        {{item + 1}}
      </a>
    }


    @if (showLast()) {
      <!-- Last Page -->
      <a (click)="pageChange(pager()?.totalPages! - 1)" class="btn btn-outline-primary ms-2">
        <i class="bi-skip-forward"></i>
      </a>
    }

  </div>

  <div class="col">
    <div class="row gx-2">
      <!-- Page Count -->
      <div class="col-auto">
        <div class="input-group">
          <span class="input-group-text">Pages</span>
          <span class="form-control d-inline-block px-3">{{pager()?.totalPages}}</span>
        </div>
      </div>

      <!-- Total Count -->
      <div class="col-auto">
        <div class="input-group">
          <span class="input-group-text">Total</span>
          <span class="form-control d-inline-block px-3">{{pager()?.count}}</span>
        </div>
      </div>

    </div>


  </div>

</div>
