<app-page-title icon="bi-person" title="Patient Information"></app-page-title>

<div class="row mt-3">

  <div class="col-4">
    <app-profile [profile]="profile()"></app-profile>
  </div>

  <div class="col">
    <!-- Appointments -->
    <app-information-card [informations]="personalInfo()">
      <span title>
        <i class="bi-person"></i> Personal Information
      </span>

      <a action [routerLink]="['../edit']" [queryParams]="{id: details()?.id}" class="icon-link">
        <i class="bi-pencil"></i>
      </a>

    </app-information-card>

    <app-information-card [informations]="address()" noDataMessage="There is no address information. Please enter address for employee.">
      <span title>
        <i class="bi-postcard"></i> Address
      </span>

      <a action href="#" class="icon-link">
        <i class="bi-pencil"></i>
      </a>

    </app-information-card>

  </div>
</div>
