<app-page-title icon="bi-person" title="Patient Information"></app-page-title>

<div class="row mt-3">

  <div class="col-4">
    <div class="card">
      <img src="/images/profile.png" alt="">
      <div class="card-body">
        <h5 class="card-title">
          {{patient()?.code}} : {{patient()?.name}}
        </h5>

        <ul class="list-group list-group-flush mt-3">
          <li class="list-group-item"><i class="bi-telephone"></i> {{patient()?.phone}}</li>
          <li class="list-group-item"><i class="bi-envelope"></i> {{patient()?.email}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <!-- Appointments -->
    <app-information-card [informations]="personalInfo()">
      <span title>
        <i class="bi-person"></i> Personal Information
      </span>

      <a action [routerLink]="['../edit']" [queryParams]="{id: details()?.id}" class="btn btn-outline-primary">
        <i class="bi-pencil"></i> Edit
      </a>

    </app-information-card>

    <app-information-card [informations]="address()" noDataMessage="There is no address information. Please enter address for employee.">
      <span title>
        <i class="bi-postcard"></i> Address
      </span>

      <a action href="#" class="btn btn-outline-primary">
        <i class="bi-pencil"></i> Edit
      </a>

    </app-information-card>

  </div>


</div>
