<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Degree</th>
      <th>Assign At</th>
      <th>Status</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    @for (item of items(); track $index) {
      <tr>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.degree}}</td>
        <td>{{item.assignAt}}</td>
        <td>{{item.status}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td class="text-center">
          <a [routerLink]="['/member/members/doctors/details']" [queryParams]="{id: item.id}" class="icon-link">
            <i class="bi-arrow-right"></i>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>
