<div class="card">
  <div class="profile-image-container">
    <img [src]="image()" class="w-100">
    <ng-content select="[uploadBtn]"></ng-content>
  </div>
  <div class="card-body">
    @if (profile()?.id) {
      <h5 class="card-title">
        {{profile()?.name}}
      </h5>

      <ul class="list-group list-group-flush mt-3">
        <li class="list-group-item"><i class="bi-telephone"></i> {{profile()?.phone}}</li>
        <li class="list-group-item"><i class="bi-envelope"></i> {{profile()?.email}}</li>
      </ul>
    } @else {
      <h5 class="card-title">
        Create New Doctor
      </h5>
    }
  </div>
</div>
