<app-list-view title="Office Staff Management" icon="bi-people" [pager]="pager()" [listener]="this" >

  <form [formGroup]="form" search class="row">

    <div class="col-auto">
      <app-form-group label="Status">
        <select formControlName="status" class="form-select">
          <option value="">All</option>
          <option value="Assigned">Assigned</option>
          <option value="Retired">Retired</option>
        </select>
      </app-form-group>
    </div>

    <div class="col-auto">
      <app-form-group label="Keyword">
        <input formControlName="keyword" type="text" class="form-control" placeholder="Search Keyword">
      </app-form-group>
    </div>

    <div class="col btn-wrapper">
      <button (click)="search()" type="button" class="btn btn-primary me-2">
        <i class="bi-search"></i> Search
      </button>
    </div>

  </form>

  <app-staff-list list [items]="contents()"></app-staff-list>
</app-list-view>
