<app-list-view title="Patient Management" icon="bi-people-fill">

  <form search class="row">
    <div class="col-auto">
      <app-form-group label="Gender">
        <select class="form-select">
          <option value="">All</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </app-form-group>
    </div>

    <div class="col-auto">
      <app-form-group label="Keyword">
        <input type="text" class="form-control" placeholder="Search Keyword">
      </app-form-group>
    </div>

    <div class="col btn-wrapper">
      <button type="button" class="btn btn-primary me-2">
        <i class="bi-search"></i> Search
      </button>
    </div>

  </form>

  <table list class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Register At</th>
        <th>Phone</th>
        <th>Email</th>
        <th class="text-end">Visit Count</th>
      </tr>
    </thead>
  </table>
</app-list-view>
